{% extends "layout.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}

<section class="menu-header">
    <h1 class="blabla">Our <span>Menu</span></h1>
    <p>Discover our curated selection of chef-crafted dishes.</p>
</section>


<!-- FILTER BAR -->

<form method="GET" class="filter-bar">

<div class="filter-group">
<label>Category</label>

<select name="category">
<option value="">All Categories</option>

{% for cat in categories %}
<option value="{{cat.id}}">
{{cat.name}}
</option>
{% endfor %}

</select>
</div>


<div class="filter-group">
<label>Hotness</label>

<select name="spiciness">
<option value="">Any</option>
<option value="1">🌶</option>
<option value="2">🌶🌶</option>
<option value="3">🌶🌶🌶</option>
<option value="4">🌶🌶🌶🌶</option>
<option value="5">🌶🌶🌶🌶🌶</option>
</select>

</div>


<div class="checkboxes">

<label>
<input type="checkbox" name="vegetarian">
Vegetarian
</label>

<label>
<input type="checkbox" name="nuts">
Nutty
</label>

</div>

<button type="submit" class="filter-btn">
Filter
</button>

</form>



<!-- PRODUCT GRID -->

<section class="product-grid">

{% for product in products %}

<div class="product-card">

<div class="image-wrapper">

{% if product.image %}
<img src="{{product.image}}" alt="{{product.name}}">
{% endif %}

<div class="spicy">
🌶 {{product.spiciness}}
</div>

</div>


<h3>{{product.name}}</h3>

<p class="price">${{product.price}}</p>


<div class="badges">

{% if product.vegetarian %}
<span class="veg">VEGETARIAN</span>
{% endif %}

{% if product.contains_nuts %}
<span class="nuts">CONTAINS NUTS</span>
{% endif %}

</div>

<a href="{% url 'add_to_cart' product.id %}" class="cart-btn">
    Add to Cart
</a>

</div>

{% endfor %}

    
</section>
<!-- PAGINATION -->

<div class="pagination">

    {% if products.has_previous %}
    <a href="?page={{products.previous_page_number}}">Previous</a>
    {% endif %}
    
    {% for num in products.paginator.page_range %}
    
    {% if products.number == num %}
    <span class="current">{{num}}</span>
    {% else %}
    <a href="?page={{num}}">{{num}}</a>
    {% endif %}
    
    {% endfor %}
    
    {% if products.has_next %}
    <a href="?page={{products.next_page_number}}">Next</a>
    {% endif %}
    
    </div>
{% endblock %}